<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- We only provide access to user selected directories ~ Apple, multi-billion $ company -->
    <if condition='!property("os.name").contains("Mac OS X")'>
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${user.home}/Tonbrett/logs/logFile.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>${user.home}/Tonbrett/logs/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- keep 30 days' worth of history capped at 3GB total size -->
                <maxHistory>30</maxHistory>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %msg%n</pattern>
            </encoder>
        </appender>
    </if>
    <logger name="dev.schlaubi.tonbrett" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
