<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tonbrett</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
      body, html {
          background-color: rgb(17, 18, 20);
          margin: 0 !important;
          padding: 0 !important;
          height: 100% !important;
          width: 100% !important;
          overflow: hidden;
      }

      #app {
          margin: 0 !important;
          padding: 0 !important;
          width: 100% !important;
          height: 100% !important;
          display: flex;
          justify-content: center;
          align-items: center;
      }
  </style>
</head>
<body>
<script>
  // glue code for Kotlin/WASM
  // noinspection JSUnusedGlobalSymbols
  function authorize(discordSdk, appId, state) {
    return discordSdk.commands.authorize({
      client_id: appId,
      scope: ["identify"],
      response_type: "code",
      state: state
    });
  }
</script>
<div id="app"></div>
</body>
</html>
