<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tonbrett</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<script>
  // glue code for Kotlin/WASM
  // noinspection JSUnusedGlobalSymbols
  function authorize(discordSdk, appId, state) {
    return discordSdk.commands.authorize({
      client_id: appId,
      scope: ["identify"],
      response_type: "code",
      state: state
    });
  }
</script>
<style>
  body {
    background-color: rgb(17, 18, 20);
    overflow: hidden;
  }
</style>
<canvas id="ComposeTarget"></canvas>
</body>
</html>
